@font-face {
  font-family: 'playball';
  src: url('../font/Playball.ttf');
}
@font-face {
  font-family: 'lato';
  src: url('../font/Lato.ttf');
}
@font-face {
  font-family: 'latoblack';
  src: url('../font/Lato-Bold.ttf');
}
@font-face {
  font-family: 'roboto';
  src: url('../font/Roboto.ttf');
}
