$color: (
  white: #fff,
  black: #000,
  black_1: #111,
  black_2: #141414,
  black_3: #0f0f0f,
  gray: #272727,
  grays: #3e3e3e,
  gray_b: #ebebeb,
  gray_c: #333,
  gray_d: #f6f7f7,
  gray_e: #bfbfbf,
  gray_s: #f7f7f7,
  gray_f: #777,
  orange: #e03916,
  organge: #ed4d21,
  lorem: #ddd,
  gray_social: #2e2e2e,
  grays_b: #979797,
  grays_c: #242424,
  black_gray: #1e1e1e,
);
